<footer>
        <span class="copyright">© 2018 Copyright by:</span>
        <span class="authors">
            <p>Karol Waszczuk</p>
            <p>Jarosław Brojek</p>
            <p>Wiktoria Kośny</p>
            <p>Oleksandra Tumak</p>
        </span>
        <span class="contact">
            <p>
            Masz jakieś uwagi dot. działania strony?
            </p>
            <p>
            A może chciałbyś pomóc w jej rozwoju albo umieścić na niej swoją reklamę?
            </p>
            <p style="margin-top:10px">
            Skontaktuj się z nami: <a>kontakt@ssop-mim.pl</a>
            </p>
        </span>
</footer>

