<footer style="margin-top: 20px">
    <span class="copyright">© 2018 Copyright by:</span>
    <div style="display: flex; justify-content: center">
        <div class="authors">
            <p>Karol Waszczuk</p>
            <p>Jarosław Brojek</p>
            <p>Wiktoria Kośny</p>
            <p>Oleksandra Tumak</p>
        </div>
        <div class="authors">
            <p>Jacek Ciszewski</p>
            <p>Piotr Karpiński</p>
            <p>Maciej Mikuła</p>
            <p>Aleksander Płocharski</p>
        </div>

    </div>

    <span class="contact">
            <p>
            Masz jakieś uwagi dot. działania strony?
            </p>
            <p>
            A może chciałbyś pomóc w jej rozwoju albo umieścić na niej swoją reklamę?
            </p>
            <p style="margin-top:10px">
            Skontaktuj się z nami: <a>kontakt@ssop-mim.pl</a>
            </p>
        </span>
</footer>

