{% extends 'base.html' %}

{% block title %}RADIO{% endblock %}


<form class="add_comment_form" action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ subject.id }}" name="subject_exact_id">
    <input type="hidden" value="{{ teacher.usos_id }}" name="teacher_id">


{% block content %}
    {% for form in radio_form %}
        <div id="pytaniaAnkiet" class="list-group">
            <div class="list-group-item">
                <span>pytanie</span>
                <span class="starrating">
                    {% for field in form %}
                        {% for item in field %}
                            {% if item.data.value is not '' %}
                            <input type="radio" id="{{ item.id_for_label }}"
                                   name="{{ field.id_for_label }}"
                                   value="{{ item.data.value }}"/>
                            <label for="{{ item.id_for_label }}"></label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}
