{% extends 'base.html' %}

{% block title %}RADIO{% endblock %}

{% block content %}
    <form class="add_comment_form" method="post">
    {% csrf_token %}
    {{ managment_form }}


    <div id="pytaniaAnkiet" class="list-group">
        {% for que, form in map %}
            <div class="list-group-item">
                <span>{{ que }}</span>
                <span class="starrating">
                    {% for field in form %}
                        {% if 'question' in field.id_for_label %}
                            <input type="hidden" name="{{ field.html_name }}" value="{{ que.pk }}">
                        {% endif %}

                        {% for item in field %}
                            {% if item.data.value > 0 and 'rating' in item.id_for_label %}
                                <input type="radio" id="{{ item.id_for_label }}"
                                       name="{{ field.html_name }}"
                                       value="{{ item.data.value }}"
                                        required/>
                                <label for="{{ item.id_for_label }}"></label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </span>
            </div>
        {% endfor %}

    </div>
        <button class="btn btn-outline-info" type="submit">Zagłosuj</button>
    </form>
{% endblock %}
