{% extends 'base.html' %}

{% block title %}SSOP{% endblock %}

{% block content %}
    <h1 align="center">S S O P</h1>
    <ul>
        <li><a href="http://mimuw.xilexio.org">Kolokwia, egzaminy (w tym angielski B2), skrypty, rozwiązane zadania i inny gruz</a></li>
        <li><a href="http://students.mimuw.edu.pl/%7Edb277594/notatki.html">Notatki z niektórych zajęć (Informatyka)</a></li>
        <li><a href="http://students.mimuw.edu.pl/%7Ecbart/notatki.html">Notatki z informatyki</a></li>
        <li><a href="https://mimuw.edu.pl/~as277575/">Luźne zapiski i szkice rozwiązań (bez gwarancji)</a></li>
    </ul>
{% endblock %}
