{% extends 'base.html' %}
{% load ssop_tags %}
{% load mathfilters %}

{% block title %}{{ subject.name }}{% endblock %}

{% block content %}
    <h1>{{ subject.name }}</h1>

    {% block info %}
        <div class="flex-container">
            <div>
                {% for question, rating in general_rating %}
                    <h5 class="font-italic"><b>{{ question }}</b>:&nbsp&nbsp&nbsp&nbsp
                        {% if not rating %}
                            <span class="floatRight">Nieocenione</span>
                        {% else %}
                            <span class="stars-container stars-{{ rating|mul:20|roundTo10 }} floatRight">★★★★★</span>
                        {% endif %}
                    </h5>
                {% endfor %}
            </div>

            <div>
                {% if subject.ects %} <h5 class="font-italic"><b>ECTS: </b>{{ subject.ects }}</h5> {% endif %}
                {% if subject.language %}<h5 class="font-italic"><b>Język: </b>{{ subject.language }}</h5>{% endif %}
                {% if subject.period %}<h5 class="font-italic"><b>Semestr: </b>{{ subject.period }}</h5>{% endif %}
                <h5 class="font-italic"><b>USOSWeb: </b><a href="{{ subject.usos_link|default_if_none:'' }}">link</a></h5>
                {% if subject.type_of_course %}
                    <h5 class="font-italic"><b>Rodzaj: </b>{{ subject.type_of_course }}</h5>{% endif %}
                {% if subject.groups_of_courses %}
                    <h5 class="font-italic"><b>Grupa przedmiotów: </b>{{ subject.groups_of_courses|join:", " }}</h5>{% endif %}
                {% if subject.types_of_classes %}
                    <h5 class="font-italic"><b>Zajęcia: </b>{{ subject.types_of_classes|join:", " }}</h5>{% endif %}
            </div>
        </div>

        <h3 href="#teachers" data-toggle="collapse">Tegoroczni prowadzący: ► </h3>

        <div id="teachers" class="list-group collapse">
            {% for teacher in subject.teachers %}
                <a class="list-group-item"
                   href="{% url 'teacher_comment_page' usos_id=teacher.usos_id subject=subject.usos_id %}">
                    <div>
                        {{ teacher.fullname }}
                    </div>
                    <div>
                        Średnia ocen: 
                        {% if teacher.average_rating != "Brak ocen" %}
                        <span class="stars-container stars-{{ teacher.average_rating|mul:20|roundTo10 }}">★★★★★</span>
                        {% else %}
                        {{ teacher.average_rating }}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        <h3 href="#comments" data-toggle="collapse">Wszystkie komentarze: ► </h3>
    {% endblock %}


    <!--TODO: add comments display and form for adding comments and all that remaining stuff from trello -->
    <!--TODO: cookies?? (do they work as we wish?) -->
    <div id="comments" class="collapse">
        {% for comment in comments %}
            <div class="well well-sm">
                <p class="date">{{ comment.add_date_pretty }}</p>
                {% block subject_name_in_comment %}{% endblock %}
                <p class="comment-content">{{ comment.content }}</p>
                {% with c_id=comment.id|stringformat:"s" %}
                    {% with cookie_val='sb-'|add:c_id %}
                        <div class="d-flex">
                        <form class="vote"
                              action="{% url 'add_subject_vote' %}?redirect={{ request.get_full_path | urlencode }}"
                              method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ comment.id }}" name="comment_id">
                            <input type="hidden" value="{{ subject.usos_id }}" name="subject_id">
                            {% if not cookie_val in request.COOKIES %}

                                <button type="submit" name="vote" value="+" class="vote-button">
                                    <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                </button>
                                <span class="up-vote">{{ comment.up_votes }}</span>

                                <span class="down-vote">{{ comment.down_votes }}</span>
                                <button type="submit" name="vote" value="-" class="vote-button">
                                    <span class="glyphicon glyphicon-minus-sign down-vote" aria-hidden="true"></span>
                                </button>
                            {% elif request.COOKIES|get_item:cookie_val == '+' %}
                                <button type="submit" name="vote" value="+" class="vote-button selected-vote">
                                    <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                </button>
                                <span class="up-vote">{{ comment.up_votes }}</span>

                                <span class="down-vote">{{ comment.down_votes }}</span>
                                <button type="submit" name="vote" value="-" class="vote-button mute-vote">
                                    <span class="glyphicon glyphicon-minus-sign down-vote" aria-hidden="true"></span>
                                </button>
                            {% elif request.COOKIES|get_item:cookie_val == '-' %}
                                <button type="submit" name="vote" value="+" class="vote-button mute-vote">
                                    <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                </button>
                                <span class="up-vote">{{ comment.up_votes }}</span>

                                <span class="down-vote">{{ comment.down_votes }}</span>
                                <button type="submit" name="vote" value="-" class="vote-button selected-vote">
                                    <span class="glyphicon glyphicon-minus-sign down-vote" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                        </form>
                    {% endwith %}
                {% endwith %}

                <!-- <button onclick="showHideElement('report_comment_{{ comment.id }}')" class="btn btn-warning btn-sm ml-auto"
                        style="float:right;border-radius:24px;padding:1px 8px;font-weight:bolder;">Zgłoś nadużycie
                </button>
                </div>
                <form id="report_comment_{{ comment.id }}"
                      action="{% url 'report_comment' %}?redirect={{ request.get_full_path | urlencode }}" method="post"
                      style="display:none">
                    {% csrf_token %}
                    <br>
                    <div class="form-group">
                        <label>Powód zgłoszenia komentarza:</label>
                        <input type="hidden" value="{{ comment.id }}" name="comment_id">
                        <input type="hidden" value="{{ request.get_full_path | urlencode }}" name="redirect">
                        <textarea class="form-control" name="content" cols="30" rows="3" style="resize:none;"
                                  required></textarea>
                    </div>
                    <button class="btn btn-danger btn-sm" type="submit"
                            style="border-radius:24px;padding:1px 8px;font-weight:bolder;">Wyślij
                    </button>
                </form>-->
                </div>
            </div>
        {% empty %}
            <div class="well well-sm">
                <p>Nie ma tu jeszcze żadnego komentarza. Może czas to zmienić? :)</p>
            </div>
        {% endfor %}
    </div>

    {% if subject != 'Wszystkie komentarze' %}
        <h4 style="margin-top: 25px">Wypełnij ankiete:</h4>
        <form class="add_comment_form"
              action="{% url 'add_subject_survey' %}?redirect={{ request.get_full_path | urlencode }}"
              method="post">
            {% csrf_token %}
            {{ managment_form }}
            <input type="hidden" value="{{ subject.usos_id }}" name="subject_id">

            <div id="pytaniaAnkiet" class="list-group">
                {% for que, form in survey %}
                    <div class="list-group-item">
                        <span>{{ que }}</span>
                        <span class="starrating">
                    <input type="hidden" name="form-{{ forloop.counter0 }}-question" value="{{ que.pk }}">

                            {% for field in form %}
                                {% for item in field %}
                                    <input type="radio" id="{{ item.id_for_label }}"
                                           name="{{ field.html_name }}"
                                           value="{{ item.data.value }}"
                                           required/>
                                    <label for="{{ item.id_for_label }}"></label>
                                {% endfor %}
                            {% endfor %}
                        </span>
                    </div>
                {% endfor %}
            </div>

            <input type="hidden" value="{{ subject.usos_id }}" name="subject_id">

            {% for field in add_comment_form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <label>
                <input type="checkbox" required>
                Potwierdzam, że zapoznałem się z
            </label>
            regulaminem.
            <br>
            {% with cookie_string="ss-"|add:subject.usos_id %}
                {% if cookie_string|add:"-edit" in request.COOKIES %}
                    <button class="btn btn-default" type="submit">Zmień odpowiedź</button>
                {% else %}
                    <button class="btn btn-default" type="submit">Zagłosuj</button>
                {% endif %}
            {% endwith %}
        </form>

        {#        <h4>Dodaj komentarz:</h4>#}
        {#        <form class="add_comment_form" action="{% url 'add_subject_comment' %}?redirect={{ request.get_full_path | urlencode }}"#}
        {#              method="post">#}
        {#            {% csrf_token %}#}
        {#            <input type="hidden" value="{{ subject.usos_id }}" name="subject_id">#}
        {##}
        {#            {% for field in add_comment_form %}#}
        {#                <div class="form-group">#}
        {#                    {{ field.label_tag }}#}
        {#                    {{ field }}#}
        {#                </div>#}
        {#            {% endfor %}#}
        {#            <label>#}
        {#                <input type="checkbox" required>#}
        {#                Potwierdzam, że zapoznałem się z#}
        {#            </label>#}
        {#            regulaminem.#}
        {#            <br>#}
        {#            {% with cookie_string="sc-"|add:subject.usos_id %}#}
        {#                {% if cookie_string|add:"-edit" in request.COOKIES %}#}
        {#                    <button class="btn btn-default" type="submit">Nadpisz dodany komentarz</button>#}
        {#                {% else %}#}
        {#                    <button class="btn btn-default" type="submit">Dodaj komentarz</button>#}
        {#                {% endif %}#}
        {#            {% endwith %}#}
        {#        </form>#}
    {% endif %}
    </div>

{% endblock %}
