{% extends 'base.html' %}
{% load ssop_tags %}
{% load mathfilters %}

{% block title %}{{ teacher.fullname }}{% endblock %}

{% block special_menu %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'teacher_page' usos_id=teacher.usos_id %}">{{ teacher.name }}<span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% block subject_name %}Komentarze{% endblock %}
                <b class="caret"></b></a>
            <ul class="dropdown-menu multi-column scrollable-menu columns-1" role="menu">
                <div class="row">
                    <ul class="multi-column-dropdown one-col">
                        <li>
                            <a href="{% url 'teacher_comment_page' usos_id=teacher.usos_id subject='Wszystkie komentarze' %}">
                                Komentarze
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% for subj in teacher.classes %}
                            <li>
                                <a href="{% url 'teacher_comment_page' usos_id=teacher.usos_id subject=subj.usos_id %}">{{ subj }}</a>
                            </li>
                            <li class="divider"></li>
                        {% endfor %}
                    </ul>
                </div>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'teacher_page' usos_id=teacher.usos_id %}">{{ teacher.fullname }}</a></h1>
    {% block subject_comment_name %}{% endblock %}
    <div class="flex-container">
        <div>
            {% for question, rating in general_rating %}
                <h5 class="font-italic"><b>{{ question }}</b>:&nbsp&nbsp&nbsp&nbsp
                    {% if not rating %}
                        <span class="floatRight">Brak ocen</span>
                    {% else %}
                        <span class="stars-container stars-{{ rating|mul:20|roundTo10 }} floatRight">★★★★★</span>
                    {% endif %}
                </h5>
            {% endfor %}
        </div>

        <div>
            {% if teacher.website %}
                <h5 class="font-italic"><b>Strona:</b> <a
                        href="{{ teacher.website|default_if_none:'' }}">{{ teacher.website|default_if_none:'Nieznane' }}</a>
                </h5>
            {% endif %}
            <h5 class="font-italic"><b>USOSWeb:</b> <a
                    href="{{ teacher.usos_link|default_if_none:'Nieznane' }}">link</a></h5>
            {% if teacher.email %}
                <h5 class="font-italic"><b>Mail:</b>
                    <a href="mailto:{{ teacher.email|default_if_none:'' }}">{{ teacher.email|default_if_none:'Nieznane' }}</a>
                </h5>
            {% endif %}

        </div>
    </div>
    {% block info %}
        <h3 href="#subjects" data-toggle="collapse"> Prowadzone przedmioty: ► </h3>
        <div id="subjects" class="list-group collapse">
            {% for subject in teacher.classes %}
                <a class="list-group-item"
                   href="{% url 'teacher_comment_page' usos_id=teacher.usos_id subject=subject.usos_id %}">
                    <!-- change parametr to usos_id -->
                    <h5 class="list-group-item-heading"> {{ subject }} </h5>
                </a>
            {% endfor %}
        </div>


        <h3 href="#comments" data-toggle="collapse">Komentarze: ► </h3>
    {% endblock %}

    <div id="comments" class="collapse">
        {% block comments %}
            {% for comment in comments %}
                <div class="well well-sm">
                    {% if comment.wikispaces %}
                        <div class="wikispaces-info">
                            <a data-toggle="tooltip" data-placement="top"
                               title="Ten komentarz pochodzi ze starej wersji strony (mimuw.wikispaces.com)">WIKISPACES</a>
                        </div>
                    {% else %}
                        <p class="date">{{ comment.subject }} {{ comment.add_date_pretty }}</p>
                    {% endif %}
                    <p class="comment-content">{{ comment.content }}</p>
                    {% with c_id=comment.id|stringformat:"s" %}
                        {% with cookie_val='tc-'|add:c_id %}
                            <div class="d-flex">
                            <form class="vote"
                                  action="{% url 'add_vote' %}?redirect={{ request.get_full_path | urlencode }}"
                                  method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ comment.id }}" name="comment_id">
                                <input type="hidden" value="{{ teacher.usos_id }}" name="teacher_id">
                                {% if not cookie_val in request.COOKIES %}
                                    <button type="submit" name="vote" value="+" class="vote-button">
                                        <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                    </button>
                                    <span class="up-vote">{{ comment.up_votes }}</span>

                                    <span class="down-vote">{{ comment.down_votes }}</span>
                                    <button type="submit" name="vote" value="-" class="vote-button">
                                        <span class="glyphicon glyphicon-minus-sign down-vote"
                                              aria-hidden="true"></span>
                                    </button>
                                {% elif request.COOKIES|get_item:cookie_val == '+' %}
                                    <button type="submit" name="vote" value="+" class="vote-button selected-vote">
                                        <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                    </button>
                                    <span class="up-vote">{{ comment.up_votes }}</span>

                                    <span class="down-vote">{{ comment.down_votes }}</span>
                                    <button type="submit" name="vote" value="-" class="vote-button mute-vote">
                                        <span class="glyphicon glyphicon-minus-sign down-vote"
                                              aria-hidden="true"></span>
                                    </button>
                                {% elif request.COOKIES|get_item:cookie_val == '-' %}
                                    <button type="submit" name="vote" value="+" class="vote-button mute-vote">
                                        <span class="glyphicon glyphicon-plus-sign up-vote" aria-hidden="true"></span>
                                    </button>
                                    <span class="up-vote">{{ comment.up_votes }}</span>

                                    <span class="down-vote">{{ comment.down_votes }}</span>
                                    <button type="submit" name="vote" value="-" class="vote-button selected-vote">
                                        <span class="glyphicon glyphicon-minus-sign down-vote"
                                              aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                            </form>
                        {% endwith %}
                    {% endwith %}

                    <button onclick="showHideElement('report_comment_{{ comment.id }}')"
                            class="btn btn-warning btn-sm ml-auto"
                            style="float:right;border-radius:24px;padding:1px 8px;font-weight:bolder;">Zgłoś nadużycie
                    </button>
                    </div>
                    <form id="report_comment_{{ comment.id }}"
                          action="{% url 'report_comment' %}?redirect={{ request.get_full_path | urlencode }}"
                          method="post"
                          style="display:none">
                        {% csrf_token %}
                        <br>
                        <div class="form-group">
                            <label>Powód zgłoszenia komentarza:</label>
                            <input type="hidden" value="{{ comment.id }}" name="comment_id">
                            <input type="hidden" value="{{ request.get_full_path | urlencode }}" name="redirect">
                            <textarea class="form-control" name="content" cols="30" rows="3" style="resize:none;"
                                      required></textarea>
                        </div>
                        <button class="btn btn-danger btn-sm" type="submit"
                                style="border-radius:24px;padding:1px 8px;font-weight:bolder;">Wyślij
                        </button>
                    </form>

                </div>
            {% empty %}
                <div class="well well-sm">
                    <p>Nie ma tu jeszcze żadnego komentarza. Może czas to zmienić? :)</p>
                </div>
            {% endfor %}
        {% endblock comments %}
    </div>
    <div id="survey">
        {% if subject != 'Wszystkie komentarze' %}
            <h3>Wypełnij ankiete:</h3>
            <form class="add_comment_form"
                  action="{% url 'add_teacher_survey' %}?redirect={{ request.get_full_path | urlencode }}"
                  method="post">
                {% csrf_token %}
                {{ managment_form }}
                <input type="hidden" value="{{ subject.usos_id }}" name="subject_id">
                <input type="hidden" value="{{ teacher.usos_id }}" name="teacher_id">

                <div id="pytaniaAnkiet" class="list-group">
                    {% for que, form, answer in survey %}
                        <div class="list-group-item">
                            <span>{{ que }}</span>
                            <span class="starrating">
                        <input type="hidden" name="form-{{ forloop.counter0 }}-question" value="{{ que.pk }}">

                                {% for field in form %}
                                    {% for item in field %}
                                        <input type="radio" id="{{ item.id_for_label }}"
                                               name="{{ field.html_name }}"
                                               value="{{ item.data.value }}"
                                               required
                                                {% if item.data.value == answer %}
                                               checked="true"
                                                {% endif %}
                                        />
                                        <label for="{{ item.id_for_label }}"></label>
                                    {% endfor %}
                                {% endfor %}
                            </span>
                        </div>
                    {% endfor %}
                </div>

                {% for field in add_comment_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <label>
                    <input type="checkbox" required>
                    Potwierdzam, że zapoznałem się z
                </label>
                <a href="{% url 'rules_page' %}?teacher={{ teacher.usos_id }}">regulaminem</a>.
                <br>

                {% with teacher_id=teacher.usos_id|stringformat:"i" %}
                    {% with cookie_string="ts-"|add:teacher_id|add:"-"|add:subject.usos_id %}
                        {% if cookie_string|add:"-edit" in request.COOKIES %}
                            <button class="btn btn-default" type="submit">Zmień odpowiedź</button>
                        {% else %}
                            <button class="btn btn-default" type="submit">Zagłosuj</button>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            </form>
        {% endif %}
    </div>
{% endblock %}
