{% extends 'teacher_page.html' %}

{% block title %}{{ teacher.fullname }} {{ subject }}{% endblock %}

{% block subject_name %}{{ subject }}{% endblock %}

{% block info %}
        <h3 href="#comments" data-toggle="collapse">Komentarze:  ►</h3>
{% endblock %}
{% block subject_name_comment %}
    <h3><a href="{% url 'subject_page' usos_id=subject.usos_id %}">{{ subject.name }}</a></h3>
{% endblock %}

{% block subject_name_in_comment %}
    {% if subject == 'Wszystkie komentarze' %}
{#        TODO subject_exact do porawy#}
        <p class="date">{{ comment.subject }}</p>
    {% endif %}
{% endblock %}

